*{
    margin:0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows:1fr 4fr ;
    gap:4px;

}

.sideBar{
    background-color: blue;
    grid-column: 1/2;
    grid-row: 1/4;
}

.topBar{
    background-color: gray;
    grid-column: 2/4;
}

.dashBoard{
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: rgb(173, 209, 240);
}

.projects{
    grid-column: 1/2;
    grid-row: 1/3;
    
}

.projectCards{
    display:grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
    margin:8px;
}

.icon{
    width: 30px;
}

.topHalf, .bottomHalf{
    display: flex;
    justify-content: space-between;
}

#searchBar{
    width: min(200px, 50%);
}

.announcementBlock, .trendingBlock{
    background-color: white;
    border-radius: 10px;
}