*{
    margin:1px;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows:1fr 4fr ;
    gap:4px;

}

.sideBar{
    background-color: rgb(81, 97, 241);
    grid-column: 1/2;
    grid-row: 1/4;
    display:flex;
    flex-direction: column;
}

.topBar{
    background-color: gray;
    grid-column: 2/4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:8px;
    margin-bottom: 0;
}

.dashBoard{
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: rgb(173, 209, 240);
    margin-top: 0;
    padding: 12px;
}

.projects{
    grid-column: 1/2;
    grid-row: 1/3;
    padding-right: 12px;
}

.projectCards{
    display:grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
    margin:8px;
}

.icon{
    width: 30px;
}

.topHalf, .bottomHalf{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#searchBar{
    width: 50em;
}

.announcementBlock, .trendingBlock{
    background-color: white;
    border-radius: 10px;
}

ul{
    color: white;
    margin:8px;
    padding-left: 32px;
    list-style: none;

}

.sideTitle{
    font-size: 32px;
}

button{
    background-color: rgb(81, 97, 241);
    color:white;
    padding:8px;
    border: 0px;
    border-radius: 15px;
    width: 100px;
    font-weight: bold;
}

#l0{
    padding: 5px 50px;
    background-image: url("icons/view-dashboard.svg");
    background-repeat: no-repeat;
	background-position: left center;
	background-size: 40px;
}
#l1{
    padding: 5px 50px;
    background-image: url("icons/home.svg");
    background-repeat: no-repeat;
	background-position: left center;
	background-size: 20px;
}
#l2{
    padding: 5px 50px;
    background-image: url("icons/card-account-details-outline.svg");
    background-repeat: no-repeat;
	background-position: left center;
	background-size: 20px;
}
#l3{
    padding: 5px 50px;
    background-image: url("icons/message.svg");
    background-repeat: no-repeat;
	background-position: left center;
	background-size: 20px;
}
#l4{
    padding: 5px 50px;
    background-image: url("icons/clock-time-four.svg");
    background-repeat: no-repeat;
	background-position: left center;
	background-size: 20px;
}
#l5{
    padding: 5px 50px;
    background-image: url("icons/file-document-multiple.svg");
    background-repeat: no-repeat;
	background-position: left center;
	background-size: 20px;
}
#l6{
    padding: 5px 50px;
    background-image: url("icons/account-group.svg");
    background-repeat: no-repeat;
	background-position: left center;
	background-size: 20px;
}
#l7{
    padding: 5px 50px;
    background-image: url("icons/cog.svg");
    background-repeat: no-repeat;
	background-position: left center;
	background-size: 20px;
}
#l8{
    padding: 5px 50px;
    background-image: url("icons/help-box-outline.svg");
    background-repeat: no-repeat;
	background-position: left center;
	background-size: 20px;
}
#l9{
    padding: 5px 50px;
    background-image: url("icons/shield-check.svg");
    background-repeat: no-repeat;
	background-position: left center;
	background-size: 20px;
}

.announcementCard{
    padding: 24px;
    color: gray;
    font-size: 12px;
}

.announcementCard > .announce{
    color: black;
    font-size: 15px;
}

.splitter{
    content:" ";
    text-align: center;
    display: block;
    height: 2px;
    width: 300px;
    background:rgba(146, 146, 146, 0.336);
}

.announcements > p, .trending>p, .projects >p{
    font-size: 24px;
}

.projects .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  height: 200px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
  padding:5px;
}

.card .projectName {
  font-size: 18px;
  text-align: center;
}

.card{
    border-radius: 10px;
    box-shadow: -5px 0 0 0 orange;
}